<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>school.11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEC9B45A20443AD7007207ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC9B46E20443AD7007207ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC9B47920443AD7007207ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
